@use '../mixins';

jw-modal {
    /* modals are hidden by default */
    display: none;

    .jw-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        inset: 0;

        /* z-index must be higher than everything else on the page */
        z-index: 10000;

        /* semi-transparent black background exposed by padding */
        background-color: rgba(0, 0, 0, .75);
        padding: 2.5rem;

        @include mixins.media-max("between-phone-tablet") {
            padding: 0.5rem;
        }

        /* enables scrolling for tall modals */
        overflow: auto;

        .jw-modal-body {
            padding: 1.25rem;
            background: #fff;
            margin: 0 auto;

            @include mixins.media-max("between-phone-tablet") {
                width: 90%;
                padding: 0.25rem;
            }

            display: flex;
            flex-direction: column;

            .btn-close {
                display: flex;
                justify-content: flex-end;

                button {
                    all: unset;

                    &:hover {
                        cursor: pointer;
                    }

                    img {
                        width: 1rem;
                        height: 1rem;
                    }

                }
            }
        }
    }
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}