@use "../mixins";
@use "../variables" as v;

.order {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    border: 0.2rem solid v.$primary-color;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.5);
    box-sizing: border-box;

    // Dashboard for the admin page
    &.dashboard {
        border: none;
        box-shadow: none;
        border-radius: 0;

        border-bottom: 0.15rem solid v.$primary-color;

        @include mixins.media-max("phone-between") {
            padding: 0.5rem;
        }
    }

    .order-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        @include mixins.media-max("phone-up") {
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
        }

        @include mixins.media-max("phone-between") {
            gap: 0.75rem;
        }

        .order-presentation {
            display: flex;
            gap: 0.5rem 1.75rem;

            @include mixins.media-max("phone-down") {
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
            }

            &.dashboard {
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
            }

            h3 {
                margin: 0;
                font-size: 1.2rem;
                font-weight: 600;
                color: v.$primary-color;
                width: 12.5rem;

                @include mixins.media-max("phone-between") {
                    width: 100%;
                    font-size: 1rem;
                    text-align: center;
                }
            }
            
            p {
                margin: 0;
                text-align: center;

                &.dashboard {
                    width:12.5rem;

                    &-date {
                        width: 8rem;
                    }

                    &-name {
                        width: 14rem;
                    }
                }
            }

            div.dashboard-mini {
                display: flex;
                gap: 2rem;

                p {
                    margin: 0;
                    width: 4rem;
                    text-align: center;
                }
            }
        
        }

        .order-actions {
            display: flex;
            gap: 2rem;

            a {
                all: unset;
                color: v.$primary-color;
                font-size: 1rem;
                font-weight: 600;
                text-decoration: underline;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .order-content {
        width: 100%;
        display: flex;
        flex-direction: column;

        &.dashboard {
            flex-direction: row;
            gap: 1.75rem;
            
            @include mixins.media-max("desktop-up") {
                flex-direction: column;
            }
        }

        .order-details {
            display: flex;
            justify-content: center;
        }

        .order-ticket {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}