@use "../mixins";
@use "../variables" as v;

.item {
    display: grid;
    grid-template-columns: [name] 7rem [price] 5rem [qty] 7.5rem [total] 5.5rem [button] 1rem;
    align-items: center;
    justify-items: start;

    @include mixins.media-max("phone-down") {
        grid-template-columns: [name] 5rem [price] 5rem [qty] 6rem [total] 5rem [button] 1rem;
    }

    @include mixins.media-max("phone-between") {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 0.75rem;
    }

    .item-name {
        grid-column: name;
        place-self: start;
        align-self: center;
    }

    .item-price {
        grid-column: price;
    }

    .item-total {
        grid-column: total;
    }



    .item-qty {
        display: flex;
        grid-column: qty;

        .btn-up,
        .btn-down {
            all: unset;
            color: v.$primary-color;
            cursor: pointer;
            padding: 0.5rem;
            font-weight: bold;
        }

        input {
            all: unset;
            background-color: transparent;
            border-bottom: solid 0.15rem v.$primary-color;
            color: v.$primary-color;
            text-align: center;
            width: 3rem;

            &:focus {
                border-bottom: solid 0.2rem v.$secondary-color;
                font-weight: bold;
            }

            &::selection {
                background-color: v.$secondary-color;
                font-weight: bold;
                color: v.$primary-color;
            }

            &:hover {
                font-weight: bold;
            }
        }
    }

    .item-remove {
        grid-column: button;

        .btn-remove {
            all: unset;
            cursor: pointer;

            img {
                width: 1rem;
                height: auto;
            }
        }
    }
}