@use "../mixins";
@use "../variables" as v;

.ticket {
    display: flex;
    align-items: flex-start;
    border: 0.2rem solid v.$primary-color;
    border-radius: 0.5rem;
    background-color: v.$background-color;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.5);
    width: 38rem;
    height: 12rem;
    box-sizing: border-box;

    @include mixins.media-max("desktop-down") {
        width: auto;
    }

    @include mixins.media-max("between-phone-tablet") {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .ticket-header {
        display: flex;
        flex-direction: column;
        width: 26rem;
        gap: 1.5rem;
        border-right: solid 0.2rem v.$primary-color;
        height: 100%;
        box-sizing: border-box;

        @include mixins.media-max("desktop-down") {
            gap: 1rem;
            width: auto;
        }

        @include mixins.media-max("between-phone-tablet") {
            border-right: none;
            border-bottom: solid 0.2rem v.$primary-color;
            gap: 0.75rem;
        }

        .ticket-logo {
            display: flex;
            align-items: center;
            justify-content: start;
            background-color: v.$primary-color;
            color: v.$secondary-color;
            height: 2.5rem;

            img {
                width: 2rem;
                height: 2rem;
                margin-left: 1rem;
            }

            p {
                width: 100%;
                text-align: center;
            }
        }

        .ticket-presentation {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            gap: 1rem;
            padding: 0.25rem 0.25rem;

            @include mixins.media-max("between-phone-tablet") {
                padding: 0.5rem 0.25rem 1rem 0.25rem;
                justify-content: space-evenly;
            }

            p,
            h3 {
                margin: 0;
                text-align: center;
            }
        }
    }
}