<header>
    <div class="flex-header">
        <div class="title"><h1>Jeux Olympiques 2024</h1></div>
        <div class="logo"><img src="assets/images/logo/logo_jo_2024.svg" alt="logo"></div>

        <nav role="navigation" aria-label="Navigation principale">
            <div class="burger" (click)="toggleMenu()">
                <p>☰</p>
            </div>
            <div class="main_pages" [class.is-open]="isMenuOpen">
                <a routerLink="/" aria-label="Accueil">Accueil</a>
                <a routerLink="/offers" aria-label="Offres">Offres</a>
                <a routerLink="/events" aria-label="Epreuves">Epreuves</a>
                <a routerLink="/signin" aria-label="S'inscrire">S'inscrire</a>
                <a routerLink="/login" aria-label="Se Connecter">Se connecter</a>
            </div>
        </nav>
    </div>
</header>