<header>
    <div class="flex-header">
        <div class="title"><h1>Jeux Olympiques 2024</h1></div>
        <div class="logo"><img src="assets/images/logo/logo_jo_2024.svg" alt="logo"></div>

        <nav role="navigation" aria-label="Navigation principale">
            <div class="burger" (click)="toggleMenu()" (keypress)="toggleMenu()">
                <p>☰</p>
            </div>
            <div class="main_pages" [class.is-open]="isMenuOpen">
                <a routerLink="/" aria-label="Accueil" (click)="toggleMenu()">Accueil</a>
                <a routerLink="/offers" aria-label="Offres" (click)="toggleMenu()">Offres</a>
                <a routerLink="/events" aria-label="Epreuves" (click)="toggleMenu()">Epreuves</a>
                <button type="button" (click)="modalService.open('modal-1')" class="btn-menu" aria-label="Se Connecter">Se connecter</button>
            </div>
        </nav>
    </div>
</header>