<div class="order" [ngClass]="{'dashboard': !isUser}">
    <div class="order-header">
        <div class="order-presentation" [ngClass]="{'dashboard': !isUser}">
            <h3 [ngClass]="{'dashboard': !isUser}">{{order.name}}</h3>
            <p [ngClass]="{'dashboard-date': !isUser}" title="commandée le">{{order.date_time.split("T")[0] | date : "dd/MM/yyyy"}}</p>
            @if(!isUser) {
            <p class="dashboard-name" title="Prénom et Nom de l'acheteur">{{order.user}}</p>
            <div class="dashboard-mini">
                <p title="Montant total">{{order.mount | currency : "EUR"}}</p>
                <p title="Nombre de participants">{{order.places}}</p>
            </div>
            }
        </div>
        <div class="order-actions">
            <a (click)="showDetails()" *ngIf="!showDetailsOrder">Détails</a>
            <a (click)="showDetails()" *ngIf="showDetailsOrder">Masquer</a>
        </div>
    </div>
    <div class="order-content" [ngClass]="{'dashboard': !isUser}">
        @if(showDetailsOrder) {
        <div class="order-details">
            <app-shopping-cart [itemsArray]="order.details" mode="read" />
        </div>
        <div class="order-ticket">
            <app-ticket [ticket]="order.ticket" [orderName]="order.name" [loaded]="loadTicket" />
        </div>
        }
    </div>
</div>