.container {
    display: flex;
    align-items: center;
    justify-content: center;

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        min-width: 20rem;
        max-width: 50rem;

        section {
            padding-left: 2rem;

            &.events h2,
            &.crud h2,
            &.staff h2 {
                color: darkorange;
            }

            &.orders h2,
            &.offers h2 {
                color: green;
            }
        }
    }
}