<div class="container">
    <div class="flex-container">
        <section class="section staff">
            <h2>Le staff des JO</h2>
            <p>
                La page du staff des JO est en cours de développement.
                Lorsqu'elle sera disponible, vous pourrez consulter la liste des membres du staff des JO.
                Ainsi qu'ajouter, modifier ou supprimer des membres du staff.
            </p>
        </section>
        <section class="section crud">
            <h2>Le CRUD des JO</h2>
            <p>
                La page CRUD est en cours de développement.
                Lorsqu'elle sera disponible, vous pourrez accéder à l'espace pour ajouter, modifier et supprimer des
                offres
                ou des épreuves.
            </p>
            <section class="section offers">
                <h2>Les offres</h2>
                <p>
                    La page des offres est en cours de développement.
                    Lorsqu'elle sera disponible, vous pourrez consulter la liste de toutes les offres.
                    Ainsi qu'ajouter, modifier ou supprimer des offres.
                </p>
            </section>
            <section class="section events">
                <h2>Les épreuves</h2>
                <p>
                    La page des épreuves est en cours de développement.
                    Lorsqu'elle sera disponible, vous pourrez consulter la liste de toutes les épreuves.
                    Ainsi qu'ajouter, modifier ou supprimer des épreuves.
                </p>
            </section>
        </section>
        <section class="section orders">
            <h2>Les ventes des JO</h2>
            <p>
                La page des ventes est en cours de développement.
                Lorsqu'elle sera disponible, vous pourrez consulter la liste de toutes les ventes.
                Vous pourrez également trier les ventes par date, par acheteur.
            </p>
        </section>
    </div>
</div>