<div class="container">
    <div class="flex-container">
        <section class="section staff">
            <h2>Le staff des JO</h2>
            <p>
                La page du staff des JO est en cours de développement.
                Lorsqu'elle sera disponible, vous pourrez consulter la liste des membres du staff des JO.
                Ainsi qu'ajouter, modifier ou supprimer des membres du staff.
            </p>
        </section>
        <section class="section crud">
            <h2>Le CRUD des JO</h2>
            <p>
                La page CRUD est en cours de développement.
                Lorsqu'elle sera disponible, vous pourrez accéder à l'espace pour ajouter, modifier et supprimer des
                offres
                ou des épreuves.
            </p>
            <section class="section offers">
                <h2>Les offres</h2>
                <p>
                    La page des offres est opérationnel.
                    vous pouvez consulter la liste de toutes les offres.
                    Ainsi qu'ajouter, modifier ou supprimer des offres.
                </p>
            </section>
            <section class="section events">
                <h2>Les épreuves</h2>
                <p>
                    La page des épreuves est en cours de développement.
                    Lorsqu'elle sera disponible, vous pourrez consulter la liste de toutes les épreuves.
                    Ainsi qu'ajouter, modifier ou supprimer des épreuves.
                </p>
            </section>
        </section>
        <section class="section orders">
            <h2>Les ventes des JO</h2>
            <p>
                La page des ventes est opérationnel.
                Vous pouvez consulter les dernières commandes. Pour le moment, la limite d'affichage des commandes est de {{limit}}.
                Vous pourrez également voir les commandes sur les 5 derniers jours.
                Le tri selon une date choisie est en cours de développement. Ainsi que la recherche par nom de client.
            </p>
        </section>
    </div>
</div>