<article class="offer card">
    <header>
        <h4>{{offer.title}}</h4>
    </header>
    <img src="{{offer.image_url}}" alt="{{offer.nb_people}} stickman pour l'offre {{offer.title}}">
    <div class="content">
        <p>{{offer.description}}</p>
    </div>
    <div class="infos">
        <p>{{offer.nb_people}} personne(s)</p>
        <p>Prix : {{offer.price}} €</p>
    </div>
    <footer>
        <div class="offer-quantity">
            <button (click)="downOffer()" class="btn-down">-</button>
            <div class="quantity">
                <label for="quantityInput">Quantité d'offres</label>
                <input #quantityInput type="text" value="{{quantity}}" (change)="changeOffer(quantityInput.value)" />
            </div>
            <button (click)="upOffer()" class="btn-up">+</button>
        </div>
        <div class="offer-actions">
            <button id="choice_offer{{offer.offer_id}}" (click)="choiceOffer()" class="btn-choice">Choisir</button>
            <button class="btn-shoppingcart" (click)="scroll()">Voir mon panier</button>
        </div>
    </footer>
</article>