<div [formGroup]="loginForm" class="container" [ngClass]="{'invalid' : this.loginForm.invalid}">
    <div id="info" class="info">
        <h2>{{infoTitle}}</h2>
        <p>{{infoMessage}}</p>
    </div>
@if(authSuccess === false){
    <div class="email-container">
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" placeholder="test@gmail.com" required>
        <div *ngIf="emailFC.touched && emailFC.errors" class="error">
            <div *ngIf="emailFC.errors?.['required']">L'email est requis.</div>
            <div *ngIf="emailFC.errors?.['email']">L'email n'est pas valide.</div>
        </div>
        <div class="actions-container">
            <button type="button" *ngIf="!emailVerified" (click)="checkEmail()"
                [disabled]="emailFC.invalid">Vérifier</button>
        </div>
    </div>

    <!-- if the user doesn't exist, then display the register form-->
    @if (userExists === false){
    <div class="firstname-container">
        <label for="firstName">Prénom:</label>
        <input id="firstName" formControlName="firstName" type="text" placeholder="Saisir votre prénom" required>
        <div *ngIf="firstNameFC.invalid && (firstNameFC.touched || firstNameFC.dirty)" class="error">
            <div *ngIf="firstNameFC.errors?.['required']">Le prénom est requis.</div>
        </div>
    </div>
    <div class="lastname-container">
        <label for="lastName">Nom:</label>
        <input id="lastName" formControlName="lastName" type="text" placeholder="Saisir votre nom" required>
        <div *ngIf="lastNameFC.invalid && (lastNameFC.touched || lastNameFC.dirty)" class="error">
            <div *ngIf="lastNameFC.errors?.['required']">Le nom est requis.</div>
        </div>
    </div>
    <div class="phone-container">
        <label for="phone">Téléphone:</label>
        <input id="phone" formControlName="phone" type="text"
            placeholder="Saisir votre téléphone en format +33 658942458" required>
        <div *ngIf="phoneFC.touched && phoneFC.invalid" class="error">
            <div *ngIf="phoneFC.errors?.['required']">Le téléphone est requis.</div>
            <div *ngIf="phoneFC.errors?.['pattern']">Le téléphone doit être un numéro valide.</div>
        </div>
    </div>
    }

    <!-- Display the password field -->
    @if (emailVerified === true){
    <div class="password-container">
        <label for="password">Mot de passe:</label>
        <input id="password" formControlName="password" type="password" placeholder="Saisir votre mot de passe"
            required>
        <div *ngIf="!userExists && passwordFC.invalid && (passwordFC.touched || passwordFC.dirty)" class="error">
            <div *ngIf="passwordFC.errors?.['required']">Le mot de passe est requis</div>
            <div *ngIf="passwordFC.errors?.['pattern']">
                Le mot de passe doit contenir au moins 8 caractères alphanumériques, dont au moins une
                lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial.
            </div>
        </div>
    </div>
    <div class="actions-container">
        <button (click)="onSubmit()" class="submit-button">{{userExists ? 'Se connecter' : 'S\'inscrire'}}</button>
    </div>
    }
}
</div>