$header-background-color: #141414;
$header-color:#D6C278;
$header-menu-background-color: #141414;
$header-menu-color: #D6C278;
$header-menu-color_hover: #141414;
$header-menu-background-color-hover: #D6C278;

$footer-background-color: #141414;
$footer-color: #D6C278;

$primary-color: #141414;
$secondary-color: #D6C278;
$background-color: #f9f9f9;

$login-form-valid-border-color: #42A948;
$login-form-invalid-border-color: #a94442;
$login-form-message-color: #820000;
$login-form-message-background-color: #fed3d3;