<div class="ticket">
    <div class="ticket-header">
        <div class="ticket-logo">
            <img src="assets/images/logo/logo_jo_2024.svg" alt="logo">
            <p>Jeux Olympiques 2024</p>
        </div>
        <div class="ticket-presentation">
            <h3>{{ticket.first_name}} {{ticket.last_name}}</h3>
            <p>Ticket valable pendant l'évènement des Jeux Olympiques</p>
            <p>Nombre d'entrée : {{ticket.nb_places}}</p>
        </div>
    </div>
    <div class="ticket-content">
        <div id="img-qrcode{{orderName}}" class="ticket-qrcode">
        </div>
    </div>
</div>
